.icons {
  font-size: 36px;
  padding-right: 10px;
}

div.col-sm {
  text-align: center;
}

.mainHeader {
  padding-top: 15px;
  padding-bottom: 30px;
}

/* div.card-header {
  margin-bottom: 15px;
} */
/* body {
  background-color: grey;
} */
