.icons {
  font-size: 36px;
  padding-right: 10px;
}

div.col-sm {
  text-align: center;
}

.mainHeader {
  padding-top: 15px;
  padding-bottom: 30px;
}

/* div.card-header {
  margin-bottom: 15px;
} */
/* body {
  background-color: grey;
} */

/* .projCont {
  margin-bottom: 40px;
} */

/* Hide scrollbar for Chrome, Safari and Opera / */
.example::-webkit-scrollbar {
  display: none;
}

/* / Hide scrollbar for IE, Edge and Firefox / */
.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
